:root{
    --font-primaria: "Mona Sans", sans-serif;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --backdrop-color: #0000008d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--color-neutral-200);
    font-family: var(--font-primaria);
    
}

a {
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1440;
    height: 100%;
    
    padding: 1rem;

    /* margem zerada em cima e na parte de baixo, e margem automatica nas laterais */
    margin: 0 auto;
}

.header {
    background-color: var(--backdrop-color);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 2rem;
    border: 0.125rem solid var(--color-neutral-300);   

    height: 4rem;
    padding: .5rem 1rem;

    position: relative;
}

.header a {
    color: var(--color-neutral-300);
}

.header button{
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-neutral-300);
}

.header nav {
    display: none;
}


/* classe para exibir o menu - sera utilizada pelo JS */
.header nav.nav-ativa{
    background-color: green;

    position: absolute;
    top: 4rem;
    left: 0rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.header nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header nav ul li a{
     font-size: 1.25rem;
}